@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Gelion-Regular';
    src: local('Gelion-Regular'),
        url('./assets/fonts/Gelion-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Gelion-Black';
    src: local('Gelion-Black'),
        url('./assets/fonts/Gelion-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Gelion-SemiBold';
    src: local('Gelion-SemiBold'),
        url('./assets/fonts/Gelion-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Gelion-Bold';
    src: local('Gelion-Bold'),
        url('./assets/fonts/Gelion-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Source-Serif4-LightItalic';
    src: local('Source-Serif4-LightItalic'),
        url('./assets/fonts/SourceSerif4-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Source-Serif4-ExtraLight';
    src: local('Source-Serif4-ExtraLight'),
        url('./assets/fonts/SourceSerif4-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Source-Serif4-BoldItalic';
    src: local('Source-Serif4-BoldItalic'),
        url('./assets/fonts/SourceSerif4-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSerif4-Light';
    src: local('SourceSerif4-Light'),
        url('./assets/fonts/SourceSerif4-Light.ttf') format('truetype');
}
